apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metallb
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://metallb.github.io/metallb
    chart: metallb
    targetRevision: v0.15.3
    helm:
      releaseName: metallb
      values: |
        ipAddressPools:
          - name: default-pool
            protocol: layer2
            addresses:
              - 192.168.1.155-192.168.1.160
        l2advertisements:
          - ipAddressPools:
            - default-pool
  destination:
    server: https://kubernetes.default.svc
    namespace: metallb-system
  syncPolicy:
    automated:
      enabled: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
